html, body, .wrap {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
	.wrap {
		display: flex;
		justify-content: center;
		align-items: center;
	}
		.canvas1 {
			border-top: 1px solid #eaebed;
			border-radius: 10px;
			box-shadow: 4px 8px 12px #333;
		}
		.canvas2 {
			position: absolute;
			z-index: -1;
		}